<tbody id="tbldashboardapifilterdata">
      {{#each bindgrid}}
         <tr>      
            <td>{{Platform}}</td>
            <td>{{source}}</td>
            <td>{{window}} Days </td>
            <td>{{country}}</td>
            <td>$ {{#if ProjectedARPI}}{{ProjectedARPI}}{{else}}0{{/if}}</td>
            <td>{{PlayerCount}}</td>
            <td>{{PayerCount}}</td>
            <td>{{formatDate Cohort_Date}}</td>
         </tr>
      {{else}}
         <tr>
            <td colspan="8" class="text-center"> No data to display. Please adjust your settings to view available data.</td>
         </tr>
      {{/each}}
      </tbody>